
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}

.logo {
    height: 100px;
}

.nav-icons-container {
    width: 100px;
    padding-right: 8px;
}

.nav-icons-container ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#content { 
    padding: 10px
    width: 800px;  
}

#side-nav {
    float:left
     width: 180px;
}

#side-nav ul {
   list-style-type: none;
   padding: 0;
}

#top {
    float:right
    width:600; 
}

#middle {
    float:right
     width:600; 
}

#bottom {
    float:right
    width:600; 
}

#footer {
    clear: both
    padding: 10px
    text align: right;
}

a {
    text decorations: none;
}
    
